@charset "utf-8";

  /* ここから下がハンバーガーメニューに関するCSS */
	
  /* チェックボックスを非表示にする */
  .drawer_hidden {
	display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
	display: flex;/* 親要素に対して子要素を横並びにする 」機能*/
	justify-content: center;/*中央寄せ*/
	align-items: center;/*flexアイテムを縦軸で見たときに「上下のどこで揃えるか」を指定するプロパティです*/
	position: absolute;/*絶対位置ということで、周囲の他の要素の配置を無視することができます*/
	left: 20px;/*左に表示*/
	z-index: 100;/* 重なり順を一番上にする */
	cursor: pointer;
	height: 45px;
	
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
	content: '';
	display: block;
	height: 3px;
	width: 25px;
	border-radius: 3px;
	background: #333;
	transition: 0.5s;
	position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
	bottom: 10px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
	top: 10px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
	background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
	bottom: 0;
	transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
	top: 0;
	transform: rotate(-45deg);
  }
	
  /* メニューのデザイン*/
  .nav_content {
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0%;
	right: 100%; /* メニューを画面の外に飛ばす */
	z-index: 99;
	background: rgb(255, 230, 230);
	transition: .5s;
	text-align: center;
	padding-top: 20px;
  }
  
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
	bottom: 0;/* メニューを画面に入れる */
	
  }
  /* メニュー黒ポチを消す */
  .nav_list {
	list-style: none;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer_input:checked ~ .nav_content {
	left: 0;/* メニューを画面に入れる */
  }






  

/* ユニバーサルセレクタで余白リセット */
* {
	margin: 0;/* */
	padding: 0;
}

/*全体の文字の文字型を指定する。第一候補、第二候補決める。第一候補がない場合に第二候補になる。*/
body{
	font-family:"遊明朝",YuMicho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","MS P明朝","MS 明朝",serif;
}

/*サイト共通コンテナ*/
.container{
	max-width: 1000px;/*コンテナーの最大pxを1000pxに*/
	margin: 0 auto;/*上下の余白をゼロに,左右をautoにする*/ 
}

h2{
	font-size: 2.0em;
}

/*ダミーの要素。floatを解除するため？？*/
.clearlist{
	content: "";/*空*/
	display: block;/*ブロックにする*/
	clear: both;/*float解除*/
}

/*本格イタリアン料理店の図*/
#sise_logo{
	float: left;/*floatを使って左に寄せる*/
	width: 65%;/*幅は全体の65％*/
}

/*電話番号の図*/
#size_reserve{
	float: right;
	width: 35%;/*これでsise_logo+sise_reserve=100%*/
	text-align:right;/*電話番号の文字を右寄せ*/
	margin: top 10px;/*上余白を10pxで設定*/
}

/*電話の文字*/
.site_tel{
	font-size : 1.5em;/*標準サイズの1.5倍で表示*/
	color: #c20023;/*文字の色*/
}

nav{
	background-color: #c20023;
}

nav ul {
	list-style: none;
}

nav ul::after {
	content: "";
	display: block;
	clear: both;
}

nav li {
	float: left;
	width: 25%;
	text-align: center;
}

nav a {
	display: block;
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	opacity: 0.7;
}

/*メイン部スタイル設定*/
#main_image img {
	width: 100%;
}

#concept{
	text-align: center;
	margin-bottom: 40px;
}

#concept_logo {
	margin-bottom: -40px;
}

#concept h2 {
	margin-right: 25px;
}

#concept p {
	width: 500px;
	margin: 0 auto;
}

#menu {
	background-color: #f5fffa;
	text-align: center;
}

#menu_logo {
	margin-bottom: -40px;
}

.menu_box {
	width: 29%;
	float: left;
	margin-left: 3%;
	margin-bottom: 30px;
}

.menu_box img {
	width: 100%;
	max-width: 300px;
}
.menu_box ul {
	text-align: left;
	font-size: 0.8em;
	margin-left: 25px;
}

#access {
	text-align: center;
}

#access iframe {
	width: 70%;
}
#access_logo {
	margin-bottom: -40px;
}

#access_map {
	float: left;
	width: 50%;
}

#access_txt {
	float: right;
	width: 50%;
	text-align: left;
	margin-top: 60px;
}

#access_reserve {
	margin-top: 30px;
	margin-bottom: 30px;
}

footer {
	background-color: #c20023;
	color: #fff;
	text-align: center;
}

@media only screen and (max-width: 680px){
	
	/*サイト共通コンテナ*/
	.container {
		margin: 0 10px;
	}

	#site_logo {
		float: none;
		width: 100%;
	}

	#site_logo img {
		width: 90%;
		max-width: 420px;
	}
	#site_reserve {
		float: none;
		width: 100%;
		font-size: 0.8em;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.site_tel {
		font-size: 1.2em;
	}
	nav a {
		font-size: 0.8em;
	}

	#concept_logo {
		width: 70%;
	}
	#concept h2 {
		font-size: 1.5em;
	}
	#concept_icon {
		width: 70%;
	}
	#concept p {
		font-size: 0.8em;
		width: 100%;
	}

	#menu_logo {
		width: 70%;
	}

	.menu_box {
		float: none;
		width: 100%;
		margin: 0;
	}

	.menu_box img {
		max-width: 480px;
	}
	.menu_box ul {
		margin: 0 30px;
	}

	#access_logo {
		width: 70%;
	}
	
	#access_map {
		float: none;
		width: 100%;
	}

	#access_txt {
		float: none;
		width: 90%;
		margin-left: 30px;
	}

	#access iframe {
		width: 100%;
	}

	footer img {
		width: 90%;
	}
}

